.bg{
    margin: 0;
    padding: 0;

  }
  .background-image{
    background-image: url('balls.jpg');
    background-image: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    height: 100vh;
  }